@{
	ViewBag.Title = "Mail Editor";
}

<div class="jumbotron">
	<div class="container">
		<h1>Mail Editor!</h1>
		<h3>What is this?</h3>
		<p>The platform that allow you to easy build and send Emails. Create your own mail API on a fly and send Emails externaly!</p>
		<p></p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Send dynamic Emails</h2>
			<p>Build and send emails to the mail-lists. Advertisements, Commercial proposals, all what you need can be sent via out services.</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>API solutions</h2>
			<p>We provide light weight builder for your commercial letters that can be easyly intergated into your application. </p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>Try it for free</h2>
			<p>You are able to build and send up to 10 test emails. Try our email builder to build plain text or html emails that are using dynamic parameters. </p>
			<p><a class="btn btn-primary" href="@Url.Action("Builder", "Mail")" role="button">Try it and learn »</a></p>
		</div>
	</div>
</div>
<hr />
<footer>
	<div class="container">
		<p>© Mail Editor 2015</p>
	</div>
</footer>